.button{
  margin-top:64px;
  height:50px;
  border-radius: 4px;
  font-weight: 500;
  background: #835afd;
  color: #FFF;
  padding: 0 32px;
  border: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.2s;

  cursor: pointer;

  > img{
    margin-right: 8px;
  }
  &:not(:disabled):hover{
    filter: brightness(0.9);
  }

  &:disabled{
    opacity: 0.6;
    cursor: not-allowed;

  }

}